* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-title {
  height: 80px;
  background-color: #F8F9FA;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 35px;
}

.btn-list ul{
  display: flex;
  list-style: none;
  gap: 20px;
}

.btn {
  max-width: 400px;

}

.lang-card {
  border: 1px grey solid;
  width: 50%;
  padding: 10px;
}

h2 {
  font-size: 16px;
}